[Unit]
Description=Dynamically control the fan duty cycle of a Supermicro X10 server

[Service]
ExecStart=/usr/bin/fancontrol
Restart=always

[Install]
WantedBy=multi-user.target
